DirectoryIndex index.php

# enable apache rewrite engine
RewriteEngine on

# set your rewrite base
# Edit this in your init method too if you script lives in a subfolder
RewriteBase /

# do not redirect but deliver the file directly if it is a file in the asset folder
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !^assets/.*

# Push every request to index.php
RewriteRule ^(.*)$ index.php [QSA]
